ion-content{
    --background: none;
}

.background-content{
    background: none;
}

.cam-row{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 68%;

    img{
        width: 100px;
    }
}

.address{
    position: absolute;
    bottom: 0px;
    background: #FFF;
    height: 105px;
    float: right;
    width: 100%;
}
.text-danger{
    color: red;
    font-weight: 500;
}

.shaddow{
    width: 100%;
    height: 100%;
    border: 2px solid #FFF;
    position: absolute;
    z-index: 999;
    top: 0px;
    box-shadow: inset 5px 5px 18px 9px #FFF;
}

.hide{
    display: none;
}

ion-title{
    padding-top: 11px;
}

.back-icon{
    font-size: 30px;
}
ion-toolbar{
    --background: #573a3e;
    color: #FFF;
    ion-icon{
        color: #FFF;
    }
}
