<ion-content class="ion-padding">
	<ion-row class="signin-margin">
		<ion-col align="center">
			<img src="../../assets/GEO LOGO.png" width="180" />
		</ion-col>
	</ion-row>
	<ion-row class="signin-margin">
		<ion-col align="center" size="12">
			<h5 class="fw-400" no-margin>Sign Up</h5>
		</ion-col>
	</ion-row>
	<ion-row padding>
		<ion-col class="details-box" padding size="12">
			<ion-list>
				<ion-item lines="none">
					<ion-label position="stacked">Name</ion-label>
					<ion-input class="username-input" type="text" [(ngModel)]="name"></ion-input>
				</ion-item>
				<ion-item lines="none" class="password-item">
					<ion-label position="stacked">Mobile</ion-label>
					<ion-input class="username-input" type="number" [(ngModel)]="mobile"></ion-input>
				</ion-item>
				<ion-item lines="none" class="password-item">
					<ion-label position="stacked">Email</ion-label>
					<ion-input class="username-input" type="email" [(ngModel)]="email"></ion-input>
				</ion-item>
				<ion-item lines="none" class="password-item">
					<ion-label position="stacked">Password</ion-label>
					<ion-input class="username-input" type="password" [(ngModel)]="password"></ion-input>
				</ion-item>
				
			</ion-list>
		</ion-col>
		<!-- <ion-col size="12" align="right" class="forget-col">
			<a href="javascript:void(0)" class="forgetpass">Forget Password</a>
		</ion-col> -->
	</ion-row>
	<ion-row align="center">
		<ion-col align="center">
			<ion-button class="signin-button" (click)="signup()">Register</ion-button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col align="center" (click)="login()">
			<strong>Go Back</strong>
		</ion-col>
	</ion-row>
</ion-content>
